<div class="container">
    <nav class="navbar navbar-expand-lg mt-4">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand logo fs-3" href="/" style="color: #6f53df"> <i class="bi bi-camera" style="color: inherit;"></i> Photo Gallery </a>
            <a href="/photos/add" class="btn-add">Adicionar Foto</a>
        </div>
    </nav>
</div>
